.id{
    text-align: center;
}

.para{
    padding-left: 180px;
    padding-right: 180px;
    font-size: 30px;
    color: white;
}
button{
    background-color: lawngreen;
    border-radius: 10px;

}
body{
    background-color: black;
}
h1{
    color: aqua;
}